/** @format */
.container {
  display: block;
  max-height: 470px;
  padding: 10px;
  min-height: 400px;
  background-color: var(--bg-color-one);
  /* transition: all 350ms ease-in-out; */
}
.container:hover {
  scale: 105%;
  border: 2px solid #f89b24;
  border-radius: 1%;
}

.img {
  display: block;
  width: 100%;
  max-height: 250px;
  margin-top: auto;
  margin-bottom: auto;
  object-fit: contain;
}
.price {
  font-size: 18px;
  font-weight: 700;
  color: var(--secondary-color);
}
.rating {
  display: flex;
  margin-top: 10px;
  font-size: 14px;
}

.title {
  margin-top: auto;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .container {
    min-height: auto;
  }
}
