/** @format */

.upload {
  display: flex;
  flex-direction: column;

  margin: 10px;
}

.img {
  padding-bottom: 10px;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .img {
    width: 545px;
  }
}
